<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<% include ../partials/header %>

<div class="container">

    <div class="row page-title mb-4">
        <div class="col-12">
            <h3>Painel de controlo</h3>
        </div>
    </div>

    <div class="row text-center mb-5">
        <div class="col-sm mx-1 card text-white bg-success">
            <div class="card-header"><h4>Utilizadores</h4></div>
            <div class="card-body">
                <h4 class="card-title">153</h4>
                <p class="card-text">+21 hoje</p>
                <a href="admin/users" class="btn btn-dark">Ver</a>
            </div>
        </div>
        <div class="col-sm mx-1 card text-white bg-success">
            <div class="card-header"><h4>Campanhas</h4></div>
            <div class="card-body">
                <h4 class="card-title">203</h4>
                <p class="card-text">+35 hoje</p>
                <a href="admin/users" class="btn btn-dark">Ver</a>
            </div>
        </div>
        <div class="col-sm mx-1 card text-white bg-success">
            <div class="card-header"><h4>Comentários</h4></div>
            <div class="card-body">
                <h4 class="card-title">547</h4>
                <p class="card-text">+35 hoje</p>
                <a href="admin/users" class="btn btn-dark">Ver</a>
            </div>
        </div>

    </div>

    <div class="row page-title mb-4">
        <div class="col-12">
            <h3>Reportados</h3>
        </div>
    </div>
    <div class="row text-center mb-5">
        <div class="col-sm mx-1 card text-white bg-danger">
            <div class="card-header"><h4>Utilizadores</h4></div>
            <div class="card-body">
                <h4 class="card-title">20</h4>
                <p class="card-text">+3 hoje</p>
                <a href="admin/users" class="btn btn-dark">Ver</a>
            </div>
        </div>
        <div class="col-sm mx-1 card text-white bg-danger">
            <div class="card-header"><h4>Campanhas</h4></div>
            <div class="card-body">
                <h4 class="card-title">203</h4>
                <p class="card-text">+35 hoje</p>
                <a href="admin/users" class="btn btn-dark">Ver</a>
            </div>
        </div>
        <div class="col-sm mx-1 card text-white bg-danger">
            <div class="card-header"><h4>Comentários</h4></div>
            <div class="card-body">
                <h4 class="card-title">547</h4>
                <p class="card-text">+35 hoje</p>
                <a href="admin/users" class="btn btn-dark">Ver</a>
            </div>
        </div>

    </div>


    <canvas id="line-chart" width="400" height="200"></canvas>
</div>
</div>

<% include ../partials/footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
	new Chart(document.getElementById("line-chart"), {
		type: 'line',
		data: {
			labels: ["Dezembro", "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro"],
			datasets: [{
				data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
				label: "Utilizadores",
				borderColor: "#3e95cd",
				fill: false
			}, {
				data: [282, 350, 411, 502, 635, 809, 947, 1402, 3700, 5267],
				label: "Camapanhas",
				borderColor: "#8e5ea2",
				fill: false
			}, {
				data: [168, 170, 178, 190, 203, 276, 408, 547, 675, 734],
				label: "Comentários",
				borderColor: "#3cba9f",
				fill: false
			}
			]
		},
		options: {
			title: {
				display: true,
				text: 'Evolução'
			}
		}
	});
</script>

</body>

</html>
