<div id="authentication" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-title">
                <div class="navbar-brand brand-title">dream<span class="brand-share">share</span></div>
                <div class="modal-close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            <div class="modal-body-footer">
                
            </div>
        </div>
    </div>
</div>