<body>
<!-- SVG definitions -->
<svg style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-location" viewBox="0 0 32 32">
            <title>location</title>
            <path d="M16 0c-5.523 0-10 4.477-10 10 0 10 10 22 10 22s10-12 10-22c0-5.523-4.477-10-10-10zM16 16c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z"></path>
        </symbol>
        <symbol id="icon-search" viewBox="0 0 26 28">
            <title>search</title>
            <path d="M18 13c0-3.859-3.141-7-7-7s-7 3.141-7 7 3.141 7 7 7 7-3.141 7-7zM26 26c0 1.094-0.906 2-2 2-0.531 0-1.047-0.219-1.406-0.594l-5.359-5.344c-1.828 1.266-4.016 1.937-6.234 1.937-6.078 0-11-4.922-11-11s4.922-11 11-11 11 4.922 11 11c0 2.219-0.672 4.406-1.937 6.234l5.359 5.359c0.359 0.359 0.578 0.875 0.578 1.406z"></path>
        </symbol>
        <symbol id="icon-bars" viewBox="0 0 32 32">
            <title>piggy-bank</title>
            <path d="M28.428 16.787h-0.939c-0.622-1.905-1.832-3.585-3.453-4.895 0-0.060-0.013-0.126-0.026-0.185-0.337-1.191 0.079-2.282 0.569-3.062 0.344-0.542-0.099-1.25-0.741-1.171-1.435 0.179-2.421 0.708-3.102 1.296-0.47 0.41-0.8 0.952-0.946 1.554-1.025 4.253-4.855 7.421-9.432 7.421-2.216 0-4.26-0.747-5.893-1.998-0.562 1.23-0.873 2.566-0.873 3.975 0 0.761 0.093 1.501 0.265 2.216v0c0 0 0 0.013 0.007 0.033 0.179 0.741 0.45 1.455 0.8 2.13 0.456 0.992 1.131 2.15 2.044 3.096 1.329 1.369 1.554 3.062 1.587 3.79v0.317c0 0.013 0 0.026 0 0.040 0 0.007 0 0.007 0 0.007v0c0.026 0.357 0.324 0.648 0.688 0.648h4.22c0.384 0 0.694-0.311 0.694-0.695v-1.045c0.609 0.079 1.237 0.126 1.872 0.126 0.496 0 0.986-0.026 1.468-0.079v0.992c0 0.384 0.311 0.695 0.695 0.695h4.22c0.384 0 0.695-0.311 0.695-0.695v-1.045c0.007-0.344 0.126-1.726 1.429-2.904 0.046-0.040 0.093-0.079 0.139-0.126 0.013-0.013 0.026-0.020 0.040-0.033v0c1.449-1.29 2.527-2.904 3.082-4.703h0.886c0.708 0 1.277-0.575 1.277-1.277v-3.155c0.007-0.695-0.562-1.27-1.27-1.27zM23.157 17.012c-0.575 0-1.045-0.47-1.045-1.045s0.47-1.045 1.045-1.045c0.575 0 1.045 0.47 1.045 1.045s-0.47 1.045-1.045 1.045z"></path>
            <path d="M10.358 16.112c4.451 0 8.056-3.605 8.056-8.056s-3.605-8.056-8.056-8.056-8.056 3.605-8.056 8.056c0.007 4.445 3.611 8.056 8.056 8.056zM5.629 8.48c0-0.152 0.126-0.278 0.278-0.278h0.767c0-0.172 0-0.337 0-0.509h-0.767c-0.152 0-0.278-0.126-0.278-0.278v-0.622c0-0.152 0.126-0.278 0.278-0.278h0.972l0.033-0.099c0.265-0.833 0.714-1.541 1.409-2.083 0.549-0.43 1.191-0.661 1.872-0.774 0.972-0.159 1.912-0.020 2.824 0.331 0.060 0.020 0.119 0.053 0.172 0.079 0.218 0.132 0.278 0.291 0.179 0.523-0.099 0.245-0.205 0.496-0.318 0.734-0.099 0.212-0.232 0.278-0.45 0.225-0.311-0.073-0.609-0.165-0.919-0.225-0.648-0.132-1.296-0.139-1.931 0.112-0.542 0.218-0.873 0.628-1.105 1.144 0 0.007 0 0.013 0 0.020h1.892c0.152 0 0.278 0.126 0.278 0.278v0.622c0 0.152-0.126 0.278-0.278 0.278h-2.163c0 0.165 0 0.331 0 0.509h2.163c0.152 0 0.278 0.126 0.278 0.278v0.622c0 0.152-0.126 0.278-0.278 0.278h-1.978c0.238 0.681 0.628 1.21 1.356 1.435 0.582 0.185 1.171 0.172 1.759 0.053 0.304-0.066 0.602-0.159 0.906-0.225 0.238-0.053 0.37 0.013 0.47 0.232 0.112 0.245 0.218 0.496 0.318 0.747 0.093 0.225 0.033 0.41-0.205 0.516-0.245 0.112-0.496 0.198-0.754 0.271-0.979 0.271-1.964 0.278-2.937-0.033-1.177-0.384-1.964-1.184-2.427-2.315-0.093-0.218-0.152-0.45-0.218-0.675h-0.926c-0.152 0-0.278-0.126-0.278-0.278v-0.615h0.007z"></path>
        </symbol>
        <symbol id="icon-flame" viewBox="0 0 32 32">
            <title>flame</title>
            <path d="M13.531 1.406c1.563 4.188 0.75 6.469-1 8.281-1.906 2-4.875 3.5-6.969 6.438-2.781 3.906-3.25 12.5 6.781 14.75-4.219-2.219-5.125-8.656-0.563-12.688-1.188 3.906 1 6.406 3.719 5.5 2.656-0.906 4.406 1 4.344 3.188-0.031 1.5-0.625 2.781-2.156 3.5 6.531-1.156 9.156-6.563 9.156-10.688 0-5.438-4.844-6.188-2.406-10.75-2.906 0.25-3.906 2.156-3.625 5.281 0.188 2.063-1.969 3.469-3.563 2.531-1.281-0.781-1.25-2.281-0.125-3.406 2.406-2.375 3.344-7.844-3.594-11.938z"></path>
        </symbol>
        <symbol id="icon-charity" viewBox="0 0 32 32">
            <title>charity</title>
            <path d="M31.594 18.661l-5.013-4.994c-0.234-0.233-0.55-0.364-0.88-0.364h-19.402c-0.33 0-0.646 0.131-0.88 0.364l-5.051 5.031c-0.358 0.356-0.465 0.893-0.273 1.36s0.648 0.771 1.153 0.771h3.804v8.985c0 0.689 0.558 1.247 1.247 1.247h9.701c0 0 0-0 0.001-0s0 0 0.001 0h9.701c0.689 0 1.247-0.558 1.247-1.247v-8.985h3.803c0.001-0 0.001-0 0.002 0 0.689 0 1.247-0.558 1.247-1.247-0-0.365-0.157-0.693-0.407-0.921zM4.267 18.335l2.547-2.537h6.166l-2.547 2.537h-6.166zM14.752 28.567h-7.206v-7.737h3.402c0.33 0 0.646-0.131 0.88-0.363l2.924-2.912v11.013zM24.453 28.567h-7.206v-11.012l2.922 2.911c0.234 0.233 0.55 0.364 0.88 0.364h3.404v7.737zM21.565 18.335l-2.547-2.537h6.167l2.547 2.537h-6.166z"></path>
            <path d="M18.542 0.938c-0.963 0-1.922 0.452-2.543 1.186-0.621-0.734-1.581-1.186-2.543-1.186-1.748 0-3.106 1.357-3.106 3.106-0 2.429 1.919 3.9 4.857 6.497l0.792 0.684 0.791-0.684c2.937-2.598 4.857-4.349 4.857-6.497-0-1.749-1.357-3.106-3.105-3.106z"></path>
        </symbol>
        <symbol id="icon-edit" viewBox="0 0 28 28">
            <title>edit</title>
            <path d="M13.875 18.5l1.813-1.813-2.375-2.375-1.813 1.813v0.875h1.5v1.5h0.875zM20.75 7.25c-0.141-0.141-0.375-0.125-0.516 0.016l-5.469 5.469c-0.141 0.141-0.156 0.375-0.016 0.516s0.375 0.125 0.516-0.016l5.469-5.469c0.141-0.141 0.156-0.375 0.016-0.516zM22 16.531v2.969c0 2.484-2.016 4.5-4.5 4.5h-13c-2.484 0-4.5-2.016-4.5-4.5v-13c0-2.484 2.016-4.5 4.5-4.5h13c0.625 0 1.25 0.125 1.828 0.391 0.141 0.063 0.25 0.203 0.281 0.359 0.031 0.172-0.016 0.328-0.141 0.453l-0.766 0.766c-0.141 0.141-0.328 0.187-0.5 0.125-0.234-0.063-0.469-0.094-0.703-0.094h-13c-1.375 0-2.5 1.125-2.5 2.5v13c0 1.375 1.125 2.5 2.5 2.5h13c1.375 0 2.5-1.125 2.5-2.5v-1.969c0-0.125 0.047-0.25 0.141-0.344l1-1c0.156-0.156 0.359-0.187 0.547-0.109s0.313 0.25 0.313 0.453zM20.5 5l4.5 4.5-10.5 10.5h-4.5v-4.5zM27.438 7.063l-1.437 1.437-4.5-4.5 1.437-1.437c0.578-0.578 1.547-0.578 2.125 0l2.375 2.375c0.578 0.578 0.578 1.547 0 2.125z"></path>
        </symbol>
        <symbol id="icon-floppy-o" viewBox="0 0 24 28">
            <title>floppy-o</title>
            <path d="M6 24h12v-6h-12v6zM20 24h2v-14c0-0.297-0.266-0.938-0.469-1.141l-4.391-4.391c-0.219-0.219-0.828-0.469-1.141-0.469v6.5c0 0.828-0.672 1.5-1.5 1.5h-9c-0.828 0-1.5-0.672-1.5-1.5v-6.5h-2v20h2v-6.5c0-0.828 0.672-1.5 1.5-1.5h13c0.828 0 1.5 0.672 1.5 1.5v6.5zM14 9.5v-5c0-0.266-0.234-0.5-0.5-0.5h-3c-0.266 0-0.5 0.234-0.5 0.5v5c0 0.266 0.234 0.5 0.5 0.5h3c0.266 0 0.5-0.234 0.5-0.5zM24 10v14.5c0 0.828-0.672 1.5-1.5 1.5h-21c-0.828 0-1.5-0.672-1.5-1.5v-21c0-0.828 0.672-1.5 1.5-1.5h14.5c0.828 0 1.969 0.469 2.562 1.062l4.375 4.375c0.594 0.594 1.062 1.734 1.062 2.562z"></path>
        </symbol>
        <symbol id="icon-trash-o" viewBox="0 0 22 28">
            <title>trash-o</title>
            <path d="M8 11.5v9c0 0.281-0.219 0.5-0.5 0.5h-1c-0.281 0-0.5-0.219-0.5-0.5v-9c0-0.281 0.219-0.5 0.5-0.5h1c0.281 0 0.5 0.219 0.5 0.5zM12 11.5v9c0 0.281-0.219 0.5-0.5 0.5h-1c-0.281 0-0.5-0.219-0.5-0.5v-9c0-0.281 0.219-0.5 0.5-0.5h1c0.281 0 0.5 0.219 0.5 0.5zM16 11.5v9c0 0.281-0.219 0.5-0.5 0.5h-1c-0.281 0-0.5-0.219-0.5-0.5v-9c0-0.281 0.219-0.5 0.5-0.5h1c0.281 0 0.5 0.219 0.5 0.5zM18 22.813v-14.812h-14v14.812c0 0.75 0.422 1.188 0.5 1.188h13c0.078 0 0.5-0.438 0.5-1.188zM7.5 6h7l-0.75-1.828c-0.047-0.063-0.187-0.156-0.266-0.172h-4.953c-0.094 0.016-0.219 0.109-0.266 0.172zM22 6.5v1c0 0.281-0.219 0.5-0.5 0.5h-1.5v14.812c0 1.719-1.125 3.187-2.5 3.187h-13c-1.375 0-2.5-1.406-2.5-3.125v-14.875h-1.5c-0.281 0-0.5-0.219-0.5-0.5v-1c0-0.281 0.219-0.5 0.5-0.5h4.828l1.094-2.609c0.313-0.766 1.25-1.391 2.078-1.391h5c0.828 0 1.766 0.625 2.078 1.391l1.094 2.609h4.828c0.281 0 0.5 0.219 0.5 0.5z"></path>
        </symbol>
    </defs>
</svg>

<header>
    <!-- Navigation -->
    <nav class="header-nav navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="brand-logo" href="/"><img src="/images/logo.png"></a>
            <a class="navbar-brand brand-name" href="/">dream<span class="brand-share">share</span></a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>

            <div class="home-search">
                <div id="expandsearch" class="expandsearch">
                    <form method="get" action="#" class="expandsearch-form">
                        <input class="expandsearch-input" name="search" spellcheck="false" autocomplete="off" onkeyup="searchByTitle(this.value)" type="search" placeholder="Pesquisar ..."/>
                        <button class="expandsearch-submit" type="submit">Pesquisar</button>
                    </form>
                    <div class="expandsearch-content"></div>
                    <span class="expandsearch-close"></span>
                </div>
                <div id="normalSearch" class="overlay"></div>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbarResponsive">
                <ul class="nav-menu navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="nav-link-wrapper hvrcenter">
                            <a id="search" class="nav-link" href="#">Pesquisar&nbsp;&nbsp;&nbsp;<svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg></a>
                        </div>
                    </li>
                    <% if(userLogged) { %>
                    <li class="nav-item">
                        <div class="nav-link-wrapper hvrcenter">
                            <a class="nav-link" href="/campaigns/create">Criar Campanha</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link-wrapper hvrcenter">
                            <a id="nav-logout" class="nav-link" href="">Sair</a>
                        </div>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <div class="nav-link-wrapper hvrcenter">
                            <a id="nav-signin" class="nav-signin nav-link" href="#authentication" data-toggle="modal">Entrar</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link-wrapper hvrcenter">
                            <a id="nav-register" class="nav-link" href="#authentication" data-toggle="modal">Inscreva-se</a>
                        </div>
                    </li>
                    <% } %>
                    <li class="nav-item">
                        <div class="nav-link-wrapper hvrcenter">
                            <a class="nav-link" href="#">Ajuda</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
