<body>
  <header>
   <!-- Navigation -->
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <div class="">

          </div>
          <a href="#"><img src="images/logo.png"></a>
          <a class="navbar-brand" href="#">dream<span class="brand-share">Share</span></a>
          <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav-menu navbar-nav ml-auto">
              <a href="#" id="search"><span class="glyphicon glyphicon-search menu-top"></span></a>
              <li class="nav-item">
                <a class="nav-link" href="#signin" data-toggle="modal">Entrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#register" data-toggle="modal">Inscreva-se</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ajuda</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
