<body>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/"><img src="/images/logo.png"></a>
            <a class="navbar-brand" href="/">dream<span class="brand-share">Share</span></a>

            <a href="#" id="search"><i class="fa fa-search menu-top" aria-hidden="true"></i></a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav-menu navbar-nav ml-auto">
                    <% if(userLogged) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/campaigns/create"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-logout" class="nav-link" href="/users/logout">Sair</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a id="nav-signin" class="nav-link" href="#signin" data-toggle="modal">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-register" class="nav-link" href="#register" data-toggle="modal">Inscreva-se</a>
                    </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ajuda</a>
                    </li>
                </ul>
            </div>

            <!-- Menu search -->
            <!--<div class="home-search">
              <div id="expandsearch" class="expandsearch">
                <form method="get" action="#" class="expandsearch-form">
                  <input class="expandsearch-input" name="search" spellcheck="false" autocomplete="off" onkeyup="searchByTitle(this.value)" type="search" placeholder="Pesquisar ..."/>
                  <button class="expandsearch-submit" type="submit">Pesquisar</button>
                </form>
                <div class="expandsearch-content"></div>
                <span class="expandsearch-close"></span>
              </div>
              <div id="normalSearch" class="overlay"></div>
            </div>-->
        </div>
    </nav>
</header>
