<!-- Log in -->
<div id="login" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-footer modal-title">
                <div class="navbar-brand brand-title">dream<span class="brand-share">Share</span></div>
                <div class="modal-close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            <div class="modal-body">
                <div id="modal-message-login"></div>
                <div class="form-group has-feedback">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username" />
                    <i class="glyphicon glyphicon-user form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback input-group">
                    <input id="signin-email" type="email" class="form-control" name="email" placeholder="Endereço de e-mail">
                    <span class="fa fa-envelope-o form-control-feedback input-group-addon"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="signin-password" type="password" class="form-control" name="password" placeholder="Palavra-passe">
                    <span class="fa fa-lock form-control-feedback"></span>
                </div>
                <button id="signin-submit" class="btn btn-primary btn-submit-dialog">Entrar</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary btn-register">Inscreva-se</button>
            </div>
        </div>
    </div>
</div>