<div id="register" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-footer modal-title">
                <div class="navbar-brand brand-title">dream<span class="brand-share">Share</span></div>
                <div class="modal-close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            <div class="modal-body">
                <div id="modal-message-register"></div>
                <div class="form-group">
                    <div class="form-group has-feedback input-group">
                        <input id="register-name" type="text" class="form-control" placeholder="Nome" name="name">
                        <!--<span class="fa fa-user-o form-control-feedback input-group-addon"></span>-->
                    </div>
                    <div class="form-group has-feedback input-group">
                        <input id="register-email" type="email" class="form-control" placeholder="Endereço de e-mail" name="email">
                        <!--<span class="fa fa-envelope-o form-control-feedback input-group-addon"></span>-->
                    </div>
                    <div class="form-group has-feedback input-group">
                        <input id="register-password" type="password" class="form-control" placeholder="Palavra-passe" name="password">
                        <!--<span class="fa fa-lock form-control-feedback input-group-addon"></span>-->
                    </div>
                    <div class="form-group has-feedback input-group">
                        <input id="register-confirmpassword" type="password" class="form-control" placeholder="Confirmar palavra-passe">
                        <!--<span class="fa fa-lock form-control-feedback input-group-addon"></span>-->
                    </div>
                </div>
                <button id="register-submit" class="btn btn-primary btn-submit-dialog">Registar</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>