<div id="signin" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-footer modal-title">
                <div class="navbar-brand brand-title">dream<span class="brand-share">Share</span></div>
                <div class="modal-close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            <div class="modal-body">
                <div id="modal-message-signin"></div>
                <div class="modal-social-icons">
                    <button class="btn btn-default facebook" id="facebook_login"><i class="fa fa-facebook modal-icons"></i> Continuar com Facebook </button>
                    <button class="btn btn-default google" id="google_login" data-dismiss="modal"><img src="/images/google-logo.png"> Continuar com Google</button>
                </div>
                <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">ou</span>
                </div>
                <h4 class="useemail">Ou use o seu endereço de e-mail</h4>
                <button type="button" data-dismiss="modal" class="btn-bottom btn btn-primary btn-signin">Entrar</button>
                <button type="button" data-dismiss="modal" class="btn-bottom btn btn-secondary btn-register">Inscreva-se</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>