<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>
<% include ../../partials/header %>

<div class="container main-container">

<p>jddlkasdjsaldnakldklandkladnsadad</p>

</div>
<!-- /.container -->

<% include ../../partials/footer %>

</body>
</html>