:root {
    --main-color: #fb5a5f;
    --second-color: #00888c;
    --hover-color: #e3595e;
    --lighter-color: #ffe6d2;
    --text-color: #494949;
    --textsecond-color: #696d6d;
    --secondarytext-color: #bfbfbf;
    --border-color: #eaeaea;
}

@import url(https://fonts.googleapis.com/css?family=Baloo+Bhaina);

body {
    padding-top: 57px;
    color: var(--text-color);
}

.preformatted {
    white-space: pre;
}

.main-container {
    margin-top: 35px;
}

.fa-bars {
    color: var(--main-color);
}

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    position: relative;
}

header .navbar {
    background-color: white;
    -webkit-box-shadow: 0 2px 5px 0 rgba(230, 230, 230, 1);
    -moz-box-shadow: 0 2px 5px 0 rgba(230, 230, 230, 1);
    box-shadow: 0 2px 5px 0 rgba(230, 230, 230, 1);
}

header .navbar a, .campaign-nav-tabs a {
    color: var(--text-color);
}

header .brand-logo img {
    width: 40px;
}

.menu-photo {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-button {
    cursor: pointer;
    padding-right: 0;
    padding-left: 0;
    border: 0;
}

.dropdown-menu li a.dropdown-item {
    color: var(--textsecond-color);
}

#dropdown-menu-left {
    left: inherit;
    right: 0;
    top: 42px;
}

.navbar-brand {
    font-family: 'Ranchers', cursive;
}

.navbar .navbar-brand {
    color: var(--text-color);
}

.brand-share {
    font-weight: bold;
    color: var(--main-color);
}

.nav-link-wrapper .icon-search {
    color: var(--main-color);
}

.nav-link-wrapper a:hover {
    color: var(--main-color);
}

.jumbotron {
    color: white;
    background: url('../images/jumbotron/jumbotronbgsmall.jpg');
    background-size: 100% 100%;
    border-radius: 0;
}

.jumbotron h1 {
    font-size: 30px;
}

.jumbotron p {
    font-size: 16px;
}

.page-title h3 {
    color: var(--main-color);
}

.page-title .icon {
    color: var(--main-color);
}

.card {
    height: 100%;
    border: none;
    box-shadow: 0 2px 6px -2px rgba(23,23,23,0.45);
}

.card a {
    text-decoration: none;
}

.card-title {
    color: var(--text-color);
}

.card-body {
    height: 130px;
    font-size: 0.95rem;
}

.card-footer {
    background-color: white;
    color: var(--secondarytext-color);
    font-size: 0.9rem;
    border-top: none;
}

.icon-location {
    height: 0.9rem;
    margin-left: -3px;
}

.card-footer span {
    font-weight: bold;
}

.card-text {
    margin-top: 0;
    margin-bottom: 0;
}

.card-progress {
    margin-bottom: 20px;
}

.card-img-top {
    max-height: 450px;
}

.more-btn:hover {
    cursor: pointer;
}

.page-title-campaign {
    margin-bottom: 10px;
}

.campaign-options {
    margin-top: 10px;
}

.campaign-options a {
    color: var(--text-color);
}

.campaign-logged-contribute {
    margin-bottom: 40px;
}

.campaign-description-footer {
    display: inline-block;
}

.campaign-description-footer:not(:last-child){
    padding-right: 10px;
}

.campaign-description-large {
    display: none;
}

.campaign-description-wrapper, .campaign-description-text {
    display: inline-block;
}

.campaign-description-wrapper .icon-location, .campaign-description-wrapper .card-text {
    color: var(--secondarytext-color);
}

.campaign_img {
    height: 200px;
}

.progress {
    border-radius: 0;
}

.progress-bar {
    background-color: var(--second-color);
    height: 0.3rem;
    line-height: 0.3rem;
    box-shadow: none;
}

.useemail {
    color: var(--text-color);
    text-align: center;
    font-size: large;
    margin-top: 8px;
}

.lead-progress {
    color: var(--second-color);
}

.lead {
    font-weight: 400;
    font-size: 1rem;
}

.timer-description {
    font-size: 0.6em;
}

.camp-det-aux {
    font-size: 0.8em;
    margin-top: -1.5em;
    color: var(--textsecond-color);
}

.campaign-description-footer .campaign-description-wrapper, .campaign-description-footer .icon {
    font-size: 0.9rem;
    color: var(--text-color);
}

.campaign-description-footer .icon {
    height: 0.9rem;
}

.campaign-description {
    font-size: 1.2em;
}

.donate-btn {
    margin: 0.5em;
}

.edit-info{
    display: none;
}

.btn-map {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.label-profile {
    font-size: 0.9em;
    font-weight: 600;
}

.create-campaign-title {
    border-bottom: 1px solid var(--border-color);
}

/* Campaign tabs */
.campaign-tabs .tab-content {
    padding-top: 20px;
    min-height: 300px;
}

.tab-nav-link-wrapper a {
    font-weight: 600;
    color: var(--textsecond-color);
}

.tab-nav-link-wrapper a:hover:not(.active) {
    color: var(--text-color);
}

.campaign-tabs .tab-content .btn-info {
    color: var(--secondarytext-color);
}

.campaign-tabs .tab-upper-values {
    font-size: 12px;
    position: relative;
    top: -5px;
    color: var(--main-color);
}

.campaign-nav-tabs {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

#commentArea .form-control {
    margin: 0 auto;
    width: inherit;
}

.profile-tabs {
    border-top: none;
    overflow-x: hidden;
}

.campaign-nav-tabs .nav-item {
    padding-left: .5rem;
    padding-right: .5em;
}

.campaign-nav-tabs .nav-item:first-child {
    padding-left: 0;
    padding-right: .5em;
}

.campaign-nav-tabs .nav-link-wrapper {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.campaign-nav-tabs .nav-link {
    padding: 1rem 0;
    font-size: 0.9rem;
}

.campaign-nav-tabs .nav-link {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.campaign-nav-tabs .active {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
}

.campaign-nav-tabs > .active > a,
.campaign-nav-tabs > .active > a:hover,
.campaign-nav-tabs > .active > a:focus {
    border-bottom: 2px solid white;
    background-color: transparent;
}

.tab-hvrcenter {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.tab-hvrcenter:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: var(--main-color);
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.tab-hvrcenter:hover:before, .hvrcenter:focus:before, .hvrcenter:active:before {
    left: 0;
    right: 0;
}

.dropdown-item:hover {
    cursor: pointer;
}

.btn-map {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dataTables_filter input {
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    overflow: visible;
    outline: 0;
}

.dataTables_filter input::-ms-expand {
    background-color: transparent;
    border: 0;
}

.dataTables_filter input:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: none;
}

.table-item {
    color: var(--text-color);
}

.table-item:hover {
    color: var(--text-color);
    text-decoration: none;
}

.main-admin .card-header {
    background-color: white;
    color: var(--text-color);
}

.main-admin .card-text {
    color: var(--secondarytext-color);
}

.main-admin .card-body {
    height: 80px;
}

footer {
    margin-top: 70px;
}

.btn.focus {
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.btn-primary.active {
    background-color: var(--hover-color);
    border: 1px solid var(--hover-color);

}

.btn-primary:hover {
    background-color: var(--hover-color);
    border: 1px solid var(--hover-color);
}

.btn-secondary {
    color: var(--main-color);
    background-color: white;
    border: 1px solid var(--main-color);
}

.btn-secondary:hover {
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.btn-secondary.active, .btn-secondary:active, .btn-secondary:focus, .show>.btn-secondary.dropdown-toggle {
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    box-shadow: none;
}

.btn-photo {
    border: 0.05em dashed var(--main-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-photo:hover {
    color: var(--main-color);
    background-color: var(--lighter-color);
    border: 0.05em dashed var(--main-color);
}

.btn-photo.active, .btn-photo:active, .btn-photo:focus, .show>.btn-photo.dropdown-toggle {
    color: var(--main-color);
    background-color: var(--lighter-color);
    border: 0.05em dashed var(--main-color);
    box-shadow: none;
}

.btn-info {
    color: #929292;
    border: 1px solid var(--secondarytext-color);
    background-color: white;
}

.btn-info:hover {
    color: var(--text-color);
    border: 1px solid #929292;
    background-color: white;
}

.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.facebook, .google, .sigarra, .btn-submit-dialog {
    width: 100%;
    margin-bottom: 5px;
    padding: 16px;
}

.modal-message-content {
    color: #CB202D;
    background-color: #f2c6c6;
    border: 1px solid #CB202D;
    display: inline-block;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 12px;
}

.modal-title {
    border-top: none;
    border-bottom: 1px solid #e5e5e5;;
}

.modal-title .navbar-brand {
    padding-left: 0;
    color: var(--text-color);
}

.btn, .btn-login, .btn-register, .modal-close, #register-submit, #signin-submit, .btn-info {
    cursor: pointer;
}

.modal-close {
    font-size: 22px;
    cursor: pointer;
    color: #a9a9a9;
}

.modal-close:hover {
    color: var(--main-color);
}

.modal-social-icons i {
    float: left;
}

#authentication .modal-body {
    margin-bottom: 5px;
}

#authentication .btn-bottom {
    width: 45%;
    height: 50px;
}

#authentication .btn-register {
    float: right;
}

.facebook {
    background-color: #3b5999;
    border: 2px solid #3b5999;
    color: #fff;
}

.facebook:hover {
    background-color: #3c4889;
    border: 2px solid #3c4889;
    color: #fff;
}

.google {
    background-color: white;
    border: 1px solid #dbdbdb;
    color: #949494;
}

.google:hover {
    background-color: white;
    border: 1px solid #949494;
    color: #949494;
}

.google img {
    width: 16px;
    float: left;
}

.form-group i {
    width: 20px;
}

/* Menu search bar */

.card-search-results .card {
    box-shadow: none;
    border: 1px solid var(--border-color);
}

.card-search-results a:hover {
    text-decoration: none;
}

.card-search-results:not(:last-child){
    margin-bottom: 20px;
}

.card-search-image {
    height: 75px;
    width: 100px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.card-text {
    color: var(--text-color);
}

.expandsearch {
    width: 200px;
    min-height: 40px;
    z-index: 500;
    top: 10px;
    right: 10%;
    position: absolute;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition-property: min-height, width, top, right;
    transition-property: min-height, width, top, right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.home-search {
    display: none;
}

.expandsearch.open {
    width: 100%;
    min-height: 100%;
    top: 0;
    right: 0;
}

.expandsearch-form {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    position: relative;
    -webkit-transition-property: width, height, -webkit-transform;
    transition-property: width, height, transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.expandsearch.open .expandsearch-form {
    width: 80%;
    height: 160px;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
}

.expandsearch-input {
    width: 100%;
    height: 100%;
    padding: 0 10% 0 0;
    font-family: "Calibri Light";
    border: none;
    background: transparent;
    font-size: 1.1em;
    color: var(--main-color);
    -webkit-transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.expandsearch-input::-ms-clear {
    display: none;
}

.expandsearch.hideInput .expandsearch-input {
    color: transparent;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.expandsearch.open .expandsearch-input {
    font-size: 7em;
}

/* placeholder */
.expandsearch-input::-webkit-input-placeholder {
    color: #c2c2c2;
}

.expandsearch-input:-moz-placeholder {
    color: #c2c2c2;
}

.expandsearch-input::-moz-placeholder {
    color: #c2c2c2;
}

.expandsearch-input:-ms-input-placeholder {
    color: #c2c2c2;
}

.gn-search:focus::-webkit-input-placeholder {
    color: transparent;
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.expandsearch-input:focus,
.expandsearch-submit:focus {
    outline: none;
}

.menu-top {
    color: var(--main-color);
    font-size: large;
}

.expandsearch-submit {
    position: absolute;
    width: 80px;
    height: 80px;
    text-indent: 100px;
    overflow: hidden;
    right: 0;
    top: 50%;
    background: transparent url(../images/magnifier.svg) no-repeat center center;
    background-size: 100%;
    border: none;
    pointer-events: none;
    transform-origin: 50% 50%;
    opacity: 0;
    -webkit-transform: translate3d(-30px, -50%, 0) scale3d(0, 0, 1);
    transform: translate3d(-30px, -50%, 0) scale3d(0, 0, 1);
}

.expandsearch.open .expandsearch-submit {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
    transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.expandsearch-close {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
}

.expandsearch.open .expandsearch-close {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.expandsearch-close::before,
.expandsearch-close::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    border-radius: 3px;
    opacity: 0.2;
    background: var(--main-color);
}

.expandsearch-close:hover.expandsearch-close::before,
.expandsearch-close:hover.expandsearch-close::after {
    opacity: 1;
}

.expandsearch-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.expandsearch-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.expandsearch-content {
    color: #333;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0 10.5%;
    background: white;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    z-index: 499;
}

.expandsearch.open .expandsearch-content {
    opacity: 1;
    height: auto;
    overflow: visible;
    pointer-events: auto;
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 498;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.expandsearch.open ~ .overlay {
    opacity: 1;
}

.campaign-info {
    margin-top: 20px;
}

/* Small devices (tablets, 768px and up) @screen-sm-min */
@media (min-width: 768px) {
    .menu-hide-lg {
        display: none;
    }

    .camp-det-aux {
        margin-top: -1.0em;
    }

    .timer-description {
        font-size: 0.8em;
    }

    .more-btn {
        float: right
    }

    .page-title-campaign {
        margin-bottom: 0;
    }

    .modal-dialog.modal-campaigns {
        width: 80vw;
        max-width: 80vw;
    }

    .campaign-nav-tabs .nav-item {
         padding-left: .7rem;
         padding-right: .7em;
     }

    .campaign-nav-tabs .nav-item:first-child {
        padding-left: 0;
        padding-right: .7em;
    }

    .campaign-nav-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-dialog {
        width: 400px;
    }

    .expandsearch-content {
        margin-top: 4.5em;
    }

    .expandsearch {
        display: block;
        width: 140px;
    }

    .card-search-image {
        height: 120px;
        width: 160px;
    }

    .campaign-info {
        margin-top: 0;
    }

    .lead {
        font-size: 1.4rem;
    }

    .camp-det-aux {
        font-size: 1em;
    }

    .campaign-description-small {
        display: none;
    }

    .campaign-description-large {
        display: block;
    }
}

@media screen and (max-width: 850px) {
    .expandsearch-input {
        padding: 0 25% 0 10px;
    }

    .expandsearch.open .expandsearch-input {
        font-size: 2em;
    }

    .expandsearch.open .expandsearch-submit {
        -webkit-transform: translate3d(0, -50%, 0) scale3d(0.5, 0.5, 1);
        transform: translate3d(0, -50%, 0) scale3d(0.5, 0.5, 1);
    }
}

@media screen and (max-width: 992px) {
    .expandsearch {
        top: 10%;
        right: 10%;
    }
}

/* Medium devices (desktops, 992px and up) @screen-md-min */
@media (min-width: 992px) {
    .modal-dialog.modal-campaigns {
        width: 900px;
        max-width: 900px;
    }

    .header-nav {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-nav .nav-item:not(:last-child) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header-nav .nav-item:last-child {
        padding-left: 1rem;
    }

    .header-nav .nav-link-wrapper {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .header-nav .navbar-right .nav-menu .nav-link {
        padding-left: 0;
        padding-right: 0;
    }

    .jumbotron {
        height: 480px;
        margin-bottom: 40px;
        background: url('../images/jumbotron/jumbotronbg.jpg');
        background-size: 100% 100%;
    }

    .jumbotron h1 {
        font-size: 50px;
    }

    .jumbotron p {
        font-size: 20px;
    }

    .jumbotron .btn {
        margin-top: 100px;
    }

    .navbar-brand {
        padding-left: 20px;
    }

    header .navbar .navbar-nav > .active > a,
    header .navbar .navbar-nav > .active > a:hover,
    header .navbar.navbar-nav > .active > a:focus {
        border-bottom: 2px solid white;
        background-color: transparent;
    }

    .hvrcenter {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        overflow: hidden;
    }

    .hvrcenter:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: var(--main-color);
        height: 2px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }

    .hvrcenter:hover:before, .hvrcenter:focus:before, .hvrcenter:active:before {
        left: 0;
        right: 0;
    }

    .campaign-nav-tabs .nav-item {
        padding-left: 2rem;
        padding-right: 2em;
    }

    .campaign-nav-tabs .nav-item:first-child {
        padding-left: 0;
        padding-right: 2em;
    }
}