<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>
<% include ../../partials/header %>

<!-- Page Content -->
<div class="container main-container">
    <h1>Campanhas</h1>

    <!-- Page Features -->
    <div class="row">
        <div class="text-right dropdown col-sm-12 mb-4">
            <span>Ordenar por:</span>
            <button class="btn btn-secondary dropdown-toggle more-btn" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Mais contribuidores
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Mais recentes</a>
                <a class="dropdown-item" href="#">Mais contribuidores</a>
                <a class="dropdown-item" href="#">Angariação de fundos</a>
                <a class="dropdown-item" href="#">Recolha de artigos</a>
            </div>
        </div>

        <% campaigns.forEach(function(campaign) { %>
        <% include ../../partials/campaign_card %>
        <% }); %>
        <div class="col-sm-12 mb-4">
            <button id="more_campaigns" class="btn btn-secondary float-right">Ver Mais</button>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<% include ../../partials/footer %>
<script src="/javascripts/partials/campaign_card.js"></script>
<script src="/javascripts/campaigns/index.js"></script>
<!-- <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYD9E2TQzUSIST7qw8ns3quQ2Ry-BDuh4">
</script> -->
</body>

</html>
