<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>

<body>
<% include ../../partials/header %>

<!-- Page Content -->
<div class="container main-container">
    <h1 class="display-4">Procure campanhas através do mapa</h1>

    <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filtros
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item col-sm-6" href="#">Raio</a>
                        <input type="range" min="0" max="50" value="0" step="5" onchange="showValue(this.value)" >
                        <br>
                        <input id="range" type="text" value="5">
                        <script type="text/javascript">
                            function showValue(newValue)
                            {
                                document.getElementById("range").value =newValue;
                            }
                        </script>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Fundraising</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div class="input-group-btn">
                    <button class="btn btn-success" type="button"><i class="fa fa-location-arrow" aria-hidden="true"></i></button>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-success" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>

    </div>
    <div id="map" style="height:550px"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYD9E2TQzUSIST7qw8ns3quQ2Ry-BDuh4&callback=initMap"
            async defer></script>

</div>
<!-- /.container -->

<% include ../../partials/footer %>

</body>

</html>

