<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>

<body>
<% include ../../partials/header %>

<!-- Page Content -->
<div class="container main-container">
    <h1 class="display-4">Procure campanhas através do mapa</h1>

    <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filtros
                    </button>
                    <div class="dropdown-menu">
                        <label for="area" class="dropdown-item text-center">Área</label>
                        <input id="area" class="dropdown-item" type="range" min="12" max="16" value="14" step="1" onchange="changeMapZoom(this.value)" >
                    </div>
                </div>
                <input id="location" type="text" class="form-control" aria-label="">
                <div class="input-group-btn">
                    <button class="btn btn-success" id="locationBtn" type="button"><i class="fa fa-location-arrow" aria-hidden="true"></i></button>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-success" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>

    </div>
    <div id="map" style="height:550px"></div>



</div>
<!-- /.container -->

<% include ../../partials/footer %>
<script src="/javascripts/campaigns/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYD9E2TQzUSIST7qw8ns3quQ2Ry-BDuh4&libraries=places&callback=initGoogleMaps"
        async defer></script>
</body>

</html>

