<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head %>
  </head>

  <body>
        <% include ../partials/header %>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1 class="display-3 text-center">DreamShare</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      </div>

      <!-- Page Features -->
      <div class="row">
        <div class="col-sm-12 mb-4 campaign-category">
          <h3>Fundraising</h3>
        </div>
        <div class="col-lg-4 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Ver Mais!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Ver Mais!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Ver Mais!</a>
            </div>
          </div>
        </div>
      <div  class="col-sm-12 mb-4">
            <a href="#" class="btn btn-secondary float-right">Mais Campanhas</a>
      </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-sm-12 mb-4 campaign-category">
          <h3>Recolha de artigos</h3>
        </div>
        <div class="col-lg-4 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Ver Mais!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Ver Mais!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Ver Mais!</a>
            </div>
          </div>
        </div>
        <div  class="col-sm-12 mb-4">
          <a href="#" class="btn btn-secondary float-right">Mais Campanhas</a>
        </div>
      </div>

    </div>
    <!-- /.container -->

   <% include ../partials/footer %>

  </body>

</html>
