<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<% include ../partials/header %>

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <br>
        <h1 class="text-center">Ajude a concretizar sonhos</h1>
        <br>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt
            possimus non incidunt odit vero aliquid similique quaerat</p>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="campaigns">Começar</a>
        </div>

    </div>
</div>

<!-- Page Content -->
<div class="container">
    <!-- Page Features -->
    <div class="row">
        <div class="col-sm-12 mb-4 campaign-category">
            <h3>Angariação de fundos</h3>
        </div>

        <% fundsCampaigns.forEach(function() { %>
        <% include ../partials/campaign_card %>
        <% }); %>
        <div class="col-sm-12 mb-4">
            <a href="/campaigns/search/true" class="btn btn-primary float-right">Mais ></a>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-12 mb-4 campaign-category">
            <h3>Recolha de artigos</h3>
        </div>
        <% goodsCampaigns.forEach(function() { %>
        <% include ../partials/campaign_card %>
        <% }); %>

        <div class="col-sm-12 mb-4">
            <a href="/campaigns/search/false" class="btn btn-primary float-right">Mais ></a>
        </div>
    </div>

</div>
<!-- /.container -->

<% include ../partials/footer %>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYD9E2TQzUSIST7qw8ns3quQ2Ry-BDuh4">
</script>
<script src="/javascripts/campaigns/index.js"></script>

</body>

</html>
